.featured-bg {
	background-size: cover;
	background-position: center;
	padding-top: 30px;
}
.featured {
	background-color: rgba($black, 0.6);
	color: $white;
	padding: 50px 0 30px;
	.featured-title {
		display: flex;
		justify-content: space-between;
		margin: 0 15px;
	}
	.container {
		width: 100%;
	}
	img {
		max-width: 100%;
		margin: 10px 0;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	h2 {
		color: $white;
		padding-top: 0;
	}
	.btn-default {
		background-color: $black;
		color: $white;
		border-color: $primary;
		height: 100%;

		&:hover {
			color: $black;
			background: $primary;
			transition: all 0.4s ease 0s;
		}
	}
}
.show-grid {
	margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
	.featured-bg {
		.featured {
			padding: 160px 0 108px;
		}
	}
}
