.movie-bg {
	background-size: cover;
	position: fixed;
	overflow: auto;
	height: 100vh;
	width: 100%;
	background-attachment: scroll;
}

.movie {
	color: $white;
	margin-top: 50px;
	background-color: rgba($black, 0.7);
	.movie-header {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 75%;
		padding-top: 150px;
		.poster {
			width: 300px;
			margin: 0 auto;
			img {
				max-width: 100%;
			}
		}
		.movie-details {
			padding: 0 30px;
			.description {
				font-size: 1.6rem;
			}
		}
	}
	.content {
		margin-top: 30px;
		border-top: 10px solid;
		background-color: $light-bg;
		color: $black;
		.container {
			height: 350px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.movie {
		.movie-header {
			flex-wrap: nowrap;
			.movie-details {
				width: 50%;
			}
		}
	}
}
