.movieWrapper {
	overflow: auto;
	height: 100%;
	width: 100%;
	background: no-repeat center center fixed;
	background-size: cover;
}

.movie {
	margin-top: 50px;
	color: $white;
	background-color: rgba($black, 0.7);
	.movie-header {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 75%;
		padding-top: 150px;
		.poster {
			width: 300px;
			margin: 0 auto;
			img {
				max-width: 100%;
			}
		}
		.movie-details {
			padding: 0 30px;
			.description {
				font-size: 1.6rem;
			}
		}
	}
	.content {
		margin-top: 30px;
		border-top: 10px solid;
		background-color: $light-bg;
		color: $black;
	}
	.container {
		width: 98%;
		display: flex;
		flex-flow: row wrap;
	}
	.container > * {
		flex: 1 100%;
	}
}
.vids {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.trailer {
	position: relative;
	text-align: center;
	color: white;
	.img-box {
		width: 350px;
		height: 200px;
		margin: 5px;
		overflow: hidden;
		position: relative;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 350px;
		height: 280px;
		margin-top: -140px;
		margin-left: -180px;
	}
	.glyphicon {
		position: absolute;
		top: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 8rem;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
		text-shadow: 2px 2px 4px #000;
	}
}

// override lightbox-react inline styles
.ReactModal__Overlay.ReactModal__Overlay--after-open {
	top: 105px !important;
}
.ril__zoomInButton,
.ril__zoomOutButton {
	display: none !important;
}

/* Large screens */

@media only screen and (min-width: 768px) {
	.movie {
		.movie-header {
			flex-wrap: nowrap;
			.movie-details {
				width: 50%;
			}
		}
		.main {
			order: 2;
			flex: 3 0px;
		}
		.sidebar {
			order: 1;
			flex: 1 0 0;
		}
	}
	.recommended {
		.card {
			display: flex;
			max-width: calc(50% - 1em);
		}
	}
}

@media only screen and (max-width: 767px) {
	.vids {
		justify-content: space-around;
	}
}
