@import "variables";

@import "nav";
@import "featuredMovies";
@import "comingSoon";
@import "news";
@import "allFeaturedMovies";
@import 'movie';

body {
	background-color: $light-bg;
}
.container {
	width: 80%;
}

h2 {
	margin-top: 0;
	padding-top: 100px;
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}

.btn-default {
	background-color: $black;
	color: $black;
	border: 2px solid $black;
	border-radius: 0;

	&:hover {
		color: $black;
		background: $primary;
		border: 2px solid $primary;
		transition: all 0.4s ease 0s;
	}
}
