$black: #1c1c1c;
$gray: #e2e2e2;
$white: #fefcff;
$light-blue: #dee5ea;

$primary: #ffeb3b;
$secondary: #68d0f9;
$light-bg: $light-blue;

h2 {
	margin-top: 0;
	padding-top: 50px;
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
